
div.vedio_container{
    margin-top: 5px;
    padding: 15px 0px 0px 15px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    // height: 600px;
    background: rgb(222, 220, 220);
    //overflow: hidden;
  .vedio{
      width: 60%;
      height:auto;
      aspect-ratio: 9/16;
      // top: 60px;
    //  left: 0px;
     overflow: hidden;
      >div{     
        div{ 
          
          >iframe{
            min-width: 500px;
            border-radius: 20px;
          }
        }
      }
      >div.details{
        margin: 0;
        padding: 0;
        height:auto;
      }

  }


  .playlist{
    // flex: 1;
     min-width: 300px;
     max-width: 600px;
    //  border: solid 1px red;
      height: 100%;
      overflow-y: auto;
      
      scroll-behavior: smooth;
      >div{
        
        height: 90px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom:10px;
       border: solid 1px rgb(54, 52, 52);
        background: var(--themeGray);
        border-radius: 20px;
        >div{
          
          >div{   
             flex: 0 0 800px;  
            div{ 
              >iframe{
                height:100%;
                width:100%;
                border-radius: 20px;
              }
            }
          }
          
        }
        .details{ 
          padding: 2px 15px;
          >h3{
            font-size: 16px;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
          }
        }
      }
  }

}




  @media  (max-width:760px) {
    div.vedio_container{
     
    .vedio{
       width: 100%;
       top:60px;
       position:sticky;
       height: 300px;
      // height: 400px;
       border:solid 2px gold;
        >div{      
          div{ 
           // height: 50px;
            >iframe{
              height:50%;
              width:50%;
              border-radius: 20px;
            }
          }
        }
        >div.details{
        
        }
    }
    .playlist{
    width: 100%;
    
      >div{
       
        >div{
        
          >div{     
            div{ 
              >iframe{
               
              }
            }
          }
          
        }
      }
  }

  }
}