*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
main{
    min-height: 100vh;
}
a{
    text-decoration: none;
}

:root {
    --blue: blue;
    --white:white;
    --lightBlue:rgb(221, 238, 245);
  
}