* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(219, 227, 234);
}
main {
    margin-top: 60px;
    min-height: 100vh;
    max-width: 1100px;
    margin: auto;
    display: block;
    padding: 10px;
}
a {
    text-decoration: none;
}

:root {
    --blue: #1212c3;
    --white: white;
    --lightBlue: #ddeef5;

    --themeGray:#b4b4b4;

    --darkClr: #01083e;
    --secDrkClr: #012f63;
    --midDarkClr: #000b5e;
    --midLightClr: #1671d8;
    --lightClr: #aed8fd;
    --lightGreenClr: #7fffd4;
    --midGreenClr: #0fbb82;
    --themeLightOrangeClr: #ffc760;
    --themeMidOrangeClr: #ff9d00;
    --themeDeepOrangeClr: #ff8800;
    --white: #fff;
    --navGradient: linear-gradient(180deg, var(--darkClr), var(--secDrkClr));
    --backGradient: linear-gradient(180deg, var(--secDrkClr), var(--lightClr));
    --transitionSlow: all 0.5s ease;
    --transitionFast: all 1s;
}
